@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

::-moz-selection {
  background-color: rgba(39, 40, 41, 0.842);
  color: #fafafa;
}

::selection {
  background-color: rgba(39, 40, 41, 0.842);
  color: #fafafa;
}

/* Change autocomplete styles in WebKit */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fafafa inset;
          box-shadow: 0 0 0px 1000px #fafafa inset;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

body {
  background-color: #fafafadc;
}

#pipernet-loader-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  z-index: 1030;
}

#pipernet-loader {
  content: "";
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -45px;
  margin-left: -45px;
  width: 90px;
  height: 90px;
  border: solid transparent;
  border-top-color: gold;
  border-left-color: rgba(255, 217, 0, 0.582);
  border-width: 7px;
  border-radius: 50%;
  z-index: 1031;
  -webkit-animation: spin 0.5s linear infinite;
          animation: spin 0.5s linear infinite;
}

#pipernet-loader-container.off,
#pipernet-loader.off {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
  visibility: hidden;
  opacity: 0;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

header {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 990;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(61%, #fafafa), to(#fafafa7d));
  background-image: linear-gradient(180deg, #fafafa 61%, #fafafa7d);
}

header .navbar-toggler {
  position: absolute;
  top: 8px;
  right: 16px;
}

header .logo {
  font-size: 18px;
}

header .logo a {
  text-decoration: none;
  color: #212529;
}

header .logo span {
  font-size: 22px;
  font-weight: 600;
  color: #e6b72d;
}

header .nav-item {
  -webkit-box-shadow: 0 1px 0 #00000014;
          box-shadow: 0 1px 0 #00000014;
  margin-bottom: 1px;
}

header .nav-item:last-child {
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 5px;
}

header .nav-link {
  color: #000000d7;
}

header .nav-link:hover, header .nav-link.active {
  color: #e6b72d;
}

header .left-cta,
header .left-cta-1 {
  border-radius: 7px;
  border: 2px solid #ffc107;
  color: #ffc107;
}

header .left-cta-1:hover,
header .left-cta {
  background-color: #ffc107;
  color: #fff;
}

header .left-cta:hover, header .left-cta:active, header .left-cta:focus {
  border-color: #e0a800 !important;
  color: #fff !important;
}

header .left-cta:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ffc10740 !important;
          box-shadow: 0 0 0 0.2rem #ffc10740 !important;
}

header .dropdown-menu {
  border: none;
  -webkit-box-shadow: 2px 2px 7px #00000012;
          box-shadow: 2px 2px 7px #00000012;
  border-radius: 10px;
}

header .dropdown-menu .dropdown-item {
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

header .dropdown-menu .dropdown-item:hover {
  color: #e2aa00;
  background-color: transparent;
}

.dropdown-container {
  position: relative;
}

.dropdown-container .dropdown-menu-c {
  position: absolute;
  top: -10%;
  left: 85%;
  visibility: hidden;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  padding-left: 20px;
}

.dropdown-container .dropdown-menu {
  position: relative;
  display: block;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.dropdown-container:hover .dropdown-menu-c {
  visibility: visible;
  top: 0;
  left: 100%;
}

.dropdown-container:hover .dropdown-menu {
  visibility: visible;
  opacity: 1;
}

.one-blue {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.one-blue img {
  width: 100%;
}

@media only screen and (max-width: 767px) {
  header .left-cta,
  header .left-cta-1 {
    width: 49%;
  }
  .dropdown.show {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .dropdown-menu,
  .dropdown-container .dropdown-menu-c {
    position: relative;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all ease 0.5s !important;
    transition: all ease 0.5s !important;
    display: block;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  .dropdown-menu.show,
  .dropdown-container:hover .dropdown-menu-c,
  .dropdown-container:hover .dropdown-menu-c .dropdown-menu {
    opacity: 1;
    visibility: visible;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: visible;
    margin: 2 0;
    padding: 8 0 0;
    left: 0;
    top: 0;
  }
  .dropdown-container:hover .dropdown-menu-c .dropdown-menu {
    top: -8px;
    padding: 8px 0;
    margin-left: 10px;
  }
  .search-head-c input {
    width: 100% !important;
    height: calc(1.5em + 0.75rem + 2px) !important;
    padding: 0.375rem 0.75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    border-width: 1px !important;
    border-right-width: 0 !important;
    color: #495057;
    background-clip: padding-box !important;
  }
  .search-head-c input + button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

@media only screen and (min-width: 767px) {
  .dir-md-rtl {
    direction: rtl;
  }
  header .nav-item {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-bottom: 0;
  }
}

.top-text {
  direction: ltr;
}

.top-text h3 {
  text-transform: uppercase;
  font-weight: 800;
}

.top-text h3 a {
  color: #212529;
  text-decoration: none;
}

.top-text .cta1 {
  border-radius: 7px;
  border: 2px solid #ffc107;
  background-color: #ffc107;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.top-text .cta1:hover {
  -webkit-box-shadow: 0 0 10px #ffc1079d;
          box-shadow: 0 0 10px #ffc1079d;
}

.top-text .btn-play-circle {
  margin-left: 45px;
  color: #121416;
}

.top-text .btn-play-circle:hover {
  text-decoration: none;
}

.top-text .btn-play-circle .fa-play-circle {
  position: absolute;
  font-size: 28px;
  margin-left: -34px;
  margin-top: -2px;
}

.p-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.service-item {
  border-color: #ce5555;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  width: 100%;
}

.service-item .icon img {
  width: 30px;
}

.service-item .card-title {
  font-size: 17px;
  font-weight: 600;
}

.service-item:hover {
  color: #fff;
  background-color: #ce5555;
}

.s-i-blue-green {
  border-color: #34abb7;
}

.s-i-blue-green:hover {
  color: #fff;
  background-color: #34abb7;
}

.s-i-orange {
  border-color: #cf9b37;
}

.s-i-orange:hover {
  color: #fff;
  background-color: #cf9b37;
}

.s-i-green {
  border-color: #66c530;
}

.s-i-green:hover {
  color: #fff;
  background-color: #66c530;
}

.our-team {
  overflow: hidden;
}

.our-team .our-team-image svg {
  position: absolute;
  z-index: -1;
  -webkit-transform: scale(3);
          transform: scale(3);
}

.our-team .our-team-image img {
  border-radius: 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.our-team .top-text h6 {
  font-weight: 800;
}

.our-team .top-text p {
  font-weight: 600;
  font-size: 14px;
  color: #795548;
}

.Packages .top-text h3 {
  font-size: 18px;
}

.card-pack {
  border-radius: 15px;
  margin-top: 155px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.card-pack:hover {
  -webkit-box-shadow: 0 3px 0.9rem rgba(0, 0, 0, 0.14) !important;
          box-shadow: 0 3px 0.9rem rgba(0, 0, 0, 0.14) !important;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
}

.card-pack .card-img-top {
  border-radius: 15px 15px 0 0;
  position: relative;
}

.card-pack .card-img-top div {
  border-radius: 15px;
  overflow: hidden;
}

.card-pack .card-img-top div img {
  margin-top: -60%;
}

.card-pack .card-img-top .overflow {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin-top: -60%;
}

.card-pack .card-title a {
  color: #212529;
}

.card-pack .list-group {
  list-style: none;
  text-align: center;
}

.card-pack .list-group li {
  margin-bottom: 20px;
}

.card-pack .list-group p {
  font-size: 18px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

.mt-85 {
  margin-top: 85px;
}

.blog {
  margin-top: 0;
  overflow: hidden;
  border-radius: 15px;
  position: relative;
  -webkit-box-shadow: 3px 3px 10px #00000009 !important;
          box-shadow: 3px 3px 10px #00000009 !important;
}

.blog:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 3px 3px 10px #00000018 !important;
          box-shadow: 3px 3px 10px #00000018 !important;
}

.blog .card-title {
  font-weight: 600;
}

.blog .card-text {
  margin: 0;
  line-height: 1.4;
  font-size: 15px;
  color: #656363;
  overflow: hidden;
}

.blog .card-body {
  height: 200px;
}

.blog a {
  text-decoration: none;
}

.blog .card-img-top a {
  display: block;
  height: 200px;
  overflow: hidden;
}

.blog .card-img-top a img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.overflow-text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(60%, #fff), to(transparent));
  background-image: linear-gradient(to top, #fff 60%, transparent);
  padding: 15px 20px 0;
}

.info-post {
  color: #656f77;
  white-space: nowrap;
}

.anthor {
  position: relative;
  display: inline-block;
  width: 80%;
  overflow: hidden;
}

.anthor .anthor-img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.anthor .anthor-name {
  display: inline-block;
  font-weight: 600;
}

.anthor .overflow-text-anthor {
  position: absolute;
  height: 1rem;
  width: 3rem;
  background-image: -webkit-gradient(linear, right top, left top, from(white), to(#00000000));
  background-image: linear-gradient(to left, white, #00000000);
  padding: 0;
  right: -2px;
  bottom: 47%;
}

.card-customers-experience {
  overflow: visible;
  background-color: transparent;
}

.card-customers-experience .card-body {
  padding-bottom: 50px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.card-customers-experience .anthor {
  position: absolute;
  left: -22px;
  bottom: -20px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 10px #00000013;
          box-shadow: 2px 2px 10px #00000013;
  border-radius: 10px;
  padding: 4px;
  padding-left: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.card-customers-experience .anthor .anthor-name {
  margin: 0;
  font-weight: 700;
}

.card-customers-experience .anthor .job-title {
  color: #03a9f4;
  margin: 0;
  font-weight: 600;
}

.card-customers-experience .anthor .anthor-img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
}

.card-customers-experience:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: 3px 3px 10px #00000009 !important;
          box-shadow: 3px 3px 10px #00000009 !important;
  background-color: #ffffff;
}

.card-customers-experience:hover .anthor {
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
  -webkit-box-shadow: 2px 2px 10px #00000020;
          box-shadow: 2px 2px 10px #00000020;
}

.bg-svg-footer {
  z-index: -1;
  overflow: hidden;
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

.bg-svg-footer svg {
  -webkit-transform: scaleX(1.2);
          transform: scaleX(1.2);
}

footer {
  background-color: #d19900;
  color: #fafafa;
}

footer .wiget {
  margin-bottom: 25px;
}

footer .wiget .title {
  text-transform: capitalize;
  font-weight: 700;
}

footer .wiget .nav-link {
  color: #fafafa;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding-left: 6px;
  position: relative;
}

footer .wiget .nav-link:hover {
  padding-left: 10px;
}

footer .wiget .nav-link::after {
  content: "-";
  position: absolute;
  left: -2px;
  top: 0.5rem;
}

.social-icons .icon {
  padding: 8px;
  font-size: 21px;
  margin-right: 10px;
  color: #fafafa;
  border-radius: 10px;
}

.social-icons .icon:hover {
  -webkit-box-shadow: inset 1px 1px 5px rgba(102, 9, 9, 0.2), inset -1px -1px 5px rgba(223, 179, 179, 0.2);
          box-shadow: inset 1px 1px 5px rgba(102, 9, 9, 0.2), inset -1px -1px 5px rgba(223, 179, 179, 0.2);
}

.quick-info .nav-item {
  position: relative;
}

.quick-info .nav-item .icon {
  position: absolute;
  left: -0px;
  top: 13px;
  font-size: 14px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.quick-info .nav-item .nav-link {
  margin-left: 15px;
}

.quick-info .nav-item .nav-link::after {
  content: none !important;
}

.copy-right a {
  color: #ffbf00;
}

.bg-cover {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.top-image img {
  width: 100%;
  height: 600px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: -1;
}

.article {
  margin-top: -70px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(transparent));
  background-image: linear-gradient(to bottom, #fafafa, transparent);
}

.article .info {
  color: #fafafa;
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(#00000050), to(transparent));
  background-image: linear-gradient(to bottom, transparent, #00000050, transparent);
}

.article .info a {
  color: #ffc107;
}

.article .card .card-body {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.article .card .card-body .card-title {
  font-size: 30px;
  font-weight: 800;
}

.article .card .card-body .card-text {
  font-size: 19px;
  font-weight: 600;
}

.article .card .card-body .article-content p {
  font-size: 17px;
}

.article .card .card-body .article-content .ad p {
  font-size: 16px;
}

.article .card .card-body .article-content a {
  color: #d1a625;
}

.article .card:hover {
  -webkit-transform: none;
          transform: none;
  -webkit-box-shadow: 3px 3px 10px #00000009 !important;
          box-shadow: 3px 3px 10px #00000009 !important;
}

.article .card .card-footer {
  border-width: 2px;
}

.article .card .anthor .anthor-img,
.anthor.comment .anthor-img {
  width: 50px;
  height: 50px;
}

.article .card .anthor .anthor-name,
.anthor.comment .anthor-name {
  color: #212529;
}

.custom-label .form-group.cl {
  position: relative;
  width: 100%;
  height: 35px;
  overflow: hidden;
  height: 45px;
}

.custom-label .form-group.cl input,
.custom-label .form-group.cl label {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  cursor: pointer;
  border-radius: 0;
}

.custom-label .form-group.cl input {
  top: 0;
  border: 0;
  border-bottom: 2px solid #e4e2e2;
  background-color: transparent;
  padding-top: 20px;
  padding-bottom: 2px;
  font-size: 15px;
  text-transform: capitalize;
}

.custom-label .form-group.cl label {
  margin-bottom: 0;
  padding-left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.custom-label .form-group.cl label span {
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  position: absolute;
  bottom: 0;
}

.custom-label .form-group.cl label::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: -2px;
  left: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-bottom: 4px solid #ffc107;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.custom-label .form-group.cl input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom-label .form-group.cl input:focus + label span,
.custom-label .form-group.cl input:valid + label span {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.custom-label .form-group.cl input:focus + label::after,
.custom-label .form-group.cl input:valid + label::after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.form-group.tcl {
  padding-top: 20px;
  position: relative;
  overflow-x: hidden;
}

.form-group.tcl textarea {
  background-color: transparent;
  border: none;
  -webkit-box-shadow: inset 0 0 10px 0 #eee;
          box-shadow: inset 0 0 10px 0 #eee;
  border-bottom: 2px solid #e4e2e2;
  padding-top: 10px;
}

.form-group.tcl textarea:focus {
  -webkit-box-shadow: inset 0 0 10px 0 #eee;
          box-shadow: inset 0 0 10px 0 #eee;
}

.form-group.tcl label {
  position: absolute;
  top: 25px;
  left: 13px;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
  padding: 1px 5px;
}

.form-group.tcl span.bb {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 3px solid #ffc107;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.form-group.tcl textarea:focus ~ label,
.form-group.tcl textarea:valid ~ label {
  -webkit-transform: translateY(-70%) translateX(-10%);
          transform: translateY(-70%) translateX(-10%);
  background-color: #fafafa;
}

.form-group.tcl textarea:focus + span.bb,
.form-group.tcl textarea:valid + span.bb {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 16px;
}

.checkbox-container .checkbox-input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkbox-container .checkbox-mark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  -webkit-transition: all ease 0.06s;
  transition: all ease 0.06s;
  background-color: transparent;
  border: 3px solid #eee;
}

.checkbox-container .checkbox-mark::after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
  top: 3px;
  left: 9px;
  width: 6px;
  height: 12px;
  border: solid #ffc107;
  border-width: 0 3px 3px 0;
}

.checkbox-container .checkbox-input:checked + .checkbox-mark {
  border-color: transparent;
}

.checkbox-container .checkbox-input:checked + .checkbox-mark::after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: rotate(45deg) scale(1.5);
          transform: rotate(45deg) scale(1.5);
}

.resize-ta {
  overflow: hidden;
  min-height: 138px;
}

.coment-cuntainer .coment-cuntainer {
  margin-left: 60px;
}

@media only screen and (max-width: 576px) {
  .coment-cuntainer .coment-cuntainer {
    margin-left: 10px;
  }
  .coment-cuntainer {
    border-left: 2px solid #eee;
    margin: 0 -10px 0 -10px;
  }
  .coment-cuntainer .anthor.comment .anthor-img {
    width: 40px;
    height: 40px;
  }
  .w-smm-100 {
    width: 100% !important;
  }
}

.comment {
  overflow: visible;
}

.comment .replay {
  color: #666;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.comment .replay .badge {
  -webkit-transition: all ease 0.1s 0.3s;
  transition: all ease 0.1s 0.3s;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0;
}

.comment .replay:hover {
  color: #333;
}

.comment .replay:hover .badge {
  opacity: 1;
  top: -30px;
}

.archive {
  position: relative;
}

.archive img {
  height: 300px;
}

.archive .top-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: radial-gradient(#00000020 -20%, transparent);
  color: transparent;
}

.archive .top-text h3 {
  color: #fff;
  text-shadow: 0 0 9px black;
}

.archive .breadcrumb {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  background-color: rgba(0, 0, 0, 0.74);
  text-transform: capitalize;
}

.archive .breadcrumb .breadcrumb-item.active {
  color: #aeb0b3;
}

.archive .breadcrumb a {
  color: #ffc107;
}

.pagination .page-link {
  color: #c49302;
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.pagination .page-item:first-child .page-link {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 10px;
}

.pagination .page-item:last-child .page-link {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 10px;
}

.pagination .page-item.active .page-link {
  cursor: default;
}

.pagination .page-item .page-link:hover,
.pagination .page-item.active .page-link {
  border-color: #ffc107;
  background-color: #ffc107;
}

.pagination .page-item .page-link:focus {
  -webkit-box-shadow: 0 0 8px 0.3em #ffc10740;
          box-shadow: 0 0 8px 0.3em #ffc10740;
  background-color: #ffc107;
  border-color: #ffc107;
}

.search-archive-c input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0px;
}

.search-archive-c input:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ffc10740;
          box-shadow: 0 0 0 0.2rem #ffc10740;
  border-color: #ffc107;
}

.search-archive-c button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-head-c input,
.search-head-c button {
  border-radius: 7px;
}

.search-head-c input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.search-head-c input:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ffc10740;
          box-shadow: 0 0 0 0.2rem #ffc10740;
  border-color: #ffc107;
}

.search-head-c button {
  -webkit-transition: all ease 0.15s;
  transition: all ease 0.15s;
  color: #fff !important;
  padding: 10px 12px 10px 13.5px;
}

.search-head-c button:hover, .search-head-c button:active, .search-head-c button:focus {
  border-color: #e0a800 !important;
  color: #fff !important;
}

.search-head-c button:active:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #ffc10740 !important;
          box-shadow: 0 0 0 0.2rem #ffc10740 !important;
}

.search-head-c input {
  width: 0;
  padding: 0;
  border-width: 0;
  cursor: pointer;
  -webkit-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.search-head-c input:focus {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-width: 1px;
  border-right-width: 0;
  color: #495057;
  background-clip: padding-box;
}

.search-head-c input:focus + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.search-head-c:focus input, .search-head-c:hover input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-width: 1px;
  border-right-width: 0;
  color: #495057;
  background-clip: padding-box;
}

.search-head-c:focus input + button, .search-head-c:hover input + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.share .title {
  font-size: 17px;
  font-weight: 700;
  text-transform: uppercase;
}

.share .icon {
  -webkit-transition: all ease 0.1s;
  transition: all ease 0.1s;
}

.map iframe {
  width: 100%;
}

.contact-c .tcl textarea:focus ~ label,
.contact-c .form-group.tcl textarea:valid ~ label {
  background-color: #fff;
}

.info-c a {
  color: #212529;
}

.info-c .title {
  font-weight: 600;
  text-transform: capitalize;
}

.info-c .icon {
  color: #e9b20f;
  top: 10px !important;
}

.info-c .nav-link {
  font-size: 14px;
}

.info-c .social-icons .icon:hover {
  -webkit-box-shadow: -1px -1px 3px #44444420, 1px 1px 3px #44444420;
          box-shadow: -1px -1px 3px #44444420, 1px 1px 3px #44444420;
}

.about-top img {
  max-width: 500px;
}

.about-top img + .ofh {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#fafafa), to(transparent));
  background-image: linear-gradient(to top, #fafafa, transparent);
}

.ltr {
  direction: ltr;
}

.till-now p {
  text-transform: capitalize;
  font-size: 16px;
}

.till-now h5 {
  font-size: 18px;
  font-weight: 600;
}

.card-about .card-title {
  font-size: 25px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
}

.card-about .card-title::after {
  content: "";
  width: 105px;
  height: 3px;
  position: absolute;
  top: 0.5em;
  left: -150px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff3c00), color-stop(#ffae00), to(gold));
  background-image: linear-gradient(to right, #ff3c00, #ffae00, gold);
}

.card-about .card-text {
  color: #413e3e;
}

.card-team {
  text-transform: capitalize;
}

.card-team .card-img-top {
  height: 270px;
  position: relative;
  z-index: -1;
}

.card-team .card-img-top .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .2s;
  transition: all ease .2s;
}

.card-team .card-img-top .card-img.team-2 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.card-team .card-img-top .card-img.team-3 {
  -webkit-transition-delay: 1.3s;
          transition-delay: 1.3s;
}

.card-team .card-img-top .card-img ~ .card-img {
  position: absolute;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.card-team .card-body {
  -webkit-box-shadow: 3px 3px 15px #00000015;
          box-shadow: 3px 3px 15px #00000015;
  border-radius: 15px;
  margin-top: -30px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card-team .card-body .social-icons {
  opacity: 0;
  visibility: hidden;
  margin-top: -38px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card-team .card-body .card-title a {
  color: #212529;
  text-decoration: none;
}

.card-team:hover .card-body {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.card-team:hover .card-body .social-icons {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(-28px);
          transform: translateY(-28px);
}

.card-team:hover .card-body .social-icons .icon {
  -webkit-box-shadow: inset 1px 1px 5px #00000080, 0 0 10px #ffffff20;
          box-shadow: inset 1px 1px 5px #00000080, 0 0 10px #ffffff20;
}

.card-team:hover .card-img {
  visibility: hidden;
  opacity: 0;
}

.card-team:hover .card-img.card-img {
  opacity: 1;
  visibility: visible;
}

.team-employment .card-img-top {
  z-index: 0 !important;
  -webkit-box-shadow: inset 0 0 0 5px #ffc107;
          box-shadow: inset 0 0 0 5px #ffc107;
}

.team-employment .card-body {
  -webkit-transform: none !important;
          transform: none !important;
  z-index: 1;
}

.card-talk .card-img-top {
  max-width: 400px;
}

.card-talk .card-title {
  font-weight: 600;
}

.card-talk .card-text {
  font-size: 15px;
  color: #444;
}

@media only screen and (max-width: 991px) {
  .card-talk .card-img-top {
    max-width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */